<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="my.com.uplus.studio2" version="2.2.1" android-versionCode="22100" xmlns:android = "http://schemas.android.com/apk/res/android">
  <name>Uplus Studio</name>
  <description>Manage your business while you're on the go with Uplus Studio.</description>
  <author href="http://www.uplus.com.my" email="ccchai@uplus.com.my">Uplus Software</author>
  <content src="index.html"/>

  <preference name="permissions" value="none"/>
  <preference name="orientation" value="portrait"/>
  <preference name="fullscreen" value="false"/>
  <preference name="show-splash-screen-spinner" value="true"/>
  <preference name="auto-hide-splash-screen" value="true"/>
  
  <preference name="android-minSdkVersion" value="14"/>
  <preference name="android-targetSdkVersion" value="21"/>
  <preference name="android-installLocation" value="auto"/>    
  <preference name="android-windowSoftInputMode" value="stateVisible|adjustResize" /> 
  <preference name="LoadingPageDialog" value="Uplus Studio,Loading ..."/> 
  <preference name='phonegap-version' value='cli-7.0.1' />

  <gap:plugin name="cordova-plugin-bluetooth-serial" source="npm" spec="*"/>
  <gap:plugin name="cordova-plugin-fcm" source="npm" spec="*"/>
  <gap:plugin name="cordova-plugin-device" source="npm" spec="*"/>
  <gap:plugin name="cordova-plugin-inappbrowser" source="npm" spec="*"/>
  <gap:plugin name="cocoon-plugin-inapps-android-googleplay" source="npm" spec="*"/>
  <gap:plugin name="https://github.com/loicknuchel/cordova-device-accounts.git" spec="https://github.com/loicknuchel/cordova-device-accounts.git"/>

  <!--<gap:plugin name="cordova-plugin-file" source="npm" spec="*" />
  <gap:plugin name="cordova-plugin-file-transfer" source="npm" spec="*" />-->

  <!--<gap:plugin name="cordova-plugin-inappbrowser" source="npm" spec="*" />
 	<gap:plugin name="cordova-plugin-bluetooth-serial" source="npm" spec="*"/>-->
 



  <icon src="icon.png"/>
  <icon src="www/res/icon/android/icon-36-ldpi.png" gap:platform="android" gap:qualifier="ldpi"/>
  <icon src="www/res/icon/android/icon-48-mdpi.png" gap:platform="android" gap:qualifier="mdpi"/>
  <icon src="www/res/icon/android/icon-72-hdpi.png" gap:platform="android" gap:qualifier="hdpi"/>
  <icon src="www/res/icon/android/icon-96-xhdpi.png" gap:platform="android" gap:qualifier="xhdpi"/>
 
  <access origin="*"/>
  <plugin name="cordova-plugin-whitelist" version="1"/>

  <allow-intent href="http://*/*"/>
  <allow-intent href="https://*/*"/>
  <allow-intent href="tel:*" launch-external="yes" />
  <allow-intent href="sms:*"/>
  <allow-intent href="mailto:*"/>
  <allow-intent href="geo:*"/>
  <platform name="android">
    <allow-intent href="market:*"/>
    <resource-file src="google-services.json" target="/google-services.json" />
  </platform>
  <platform name="ios">
    <allow-intent href="itms:*"/>
    <allow-intent href="itms-apps:*"/>
  </platform>
</widget>